@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("./fonts/RobotoCondensed-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PT_Sans-Narrow";
  src: url("./fonts/PT_Sans-Narrow-Web-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FrancoisOne";
  src: url("./fonts/FrancoisOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "PT Sans Narrow";
  font-size: 15pt;
}

html,
body {
  margin: 0;
  padding: 0;
}
.label {
  font-family: "PT Sans Narrow";
  font-size: 15pt;
}
.label-white {
  font-family: "PT Sans Narrow";
  font-size: 15pt;
  color: white;
}

.h2 {
  font-family: "RobotoCondensed-Bold";
  font-size: 25pt;
}

.h2-white {
  font-family: "RobotoCondensed-Bold";
  font-size: 25pt;
  color: white;
  margin-bottom: 10px;
}

.a {
  color: white;
}
.a:hover {
  text-decoration: none;
  color: gray;
}

.login-bg {
  background-color: black;
}

.nav {
  padding-top: 10px;
}

.h6-white {
  color: white;
}

.h6 {
  font-family: "RobotoCondensed-Bold";
  font-size: 18pt;
}

.p {
  font-family: "PT Sans Narrow";
  font-size: 15pt;
  padding: 10px;
  line-height: 1.5em;
}

.p-white {
  font-family: "PT Sans Narrow";
  font-size: 15pt;
  color: white;
  padding: 10px;
  line-height: 1.5em;
}

.fas {
  vertical-align: middle;
}
.clearfix {
  margin-top: 15px;
  margin-left: 10px;
}

.clear-top {
  margin-top: 30px;
}

.li {
  font-family: "PT Sans Narrow";
  font-size: 15pt;
}

#reg-form {
  margin: auto;
  padding-bottom: 30px;
}

#login-form {
  width: 30%;
  margin: auto;
  padding: 20px;
  background-color: lightgray;
  border-radius: 4px;
}
/* Popup Modal */
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  width: 300px;
  margin: auto;
  background: gray;
  border-radius: 4px;
}

.login-bg {
  background-color: black;
  border-radius: 0px 0px 4px 4px;
}

.login-logo {
  width: 250px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.login-logo:hover {
  background-color: white;
  /* zoom: 1.2; */
}

.login-form {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

.modal-footer {
  background-color: gray;
  border-radius: 0px 0px 4px 4px;
}

/* Start @media only screen and (max-width: 320px) */
@media only screen and (max-width: 320px) {
  /*-------------- Prevent Horizontal swipe ------------*/
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .p,
  .p-white {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  .p-services {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
    text-align: center;
  }

  .h2 {
    font-size: 13pt;
    text-align: center;
  }
  .h2-white {
    text-align: center;
    font-size: 13pt;
  }
  .h6 {
    font-size: 15pt;
  }

  .h6-white {
    font-size: 15pt;
  }

  .li,
  .label,
  .label-white {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  .style-hr {
    min-width: 50%;
  }

  /*------------ Background Images -------------*/
  /* Header */
  header {
    width: 100%;
    min-height: 30vh;
    background: url("./components/img/dental-studiox480.jpg");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-loyalty {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
  }

  .section-about {
    background: url("./components/img/dentist-bgx480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-promo {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-footer {
    margin-top: 380px;
    padding-top: 70px;
    background: url("./components/img/dentist-bgx480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #04091e;
    color: #fff;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
  }

  /*Navbar */
  .navbrand {
    width: 55%;
    float: right;
  }

  .call-today-sm {
    display: block;
    margin-right: 5px;
    color: #ce8bc8;
    /* padding: 5px;  */
  }
  .call-today-sm:hover {
    color: rgb(196, 196, 12);
  }

  .logo {
    margin-left: -90px;
  }

  .logo-text {
    display: none;
  }

  .call-today {
    display: none;
  }
  /*Side buttons*/
  .appoint {
    top: 7%;
    width: 100px;
  }
  .sidebtn {
    display: inline-block;
    margin-left: -15px;
    text-align: right;
    width: 70px;
    height: 40px;
    /* font-size: 8px;
    font-family: "Roboto Condensed"; */
    font-size: 8pt;
    font-family: "PT Sans Narrow";
    box-shadow: 0 6px 4px -3px #000000;
    position: relative;
  }

  /* Popup Modal */
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    width: 200px;
    /* margin: auto; */
    background: gray;
    border-radius: 4px;
  }

  /* Login */
  .login-container {
    margin-top: 10%;
  }
  #login-form {
    width: 90%;
  }
  .login-logo {
    width: 90%;
  }

  /* User Registration */
  .signup-container {
    margin-top: 10%;
  }

  /* .login-logo {
    display: none;
  }

  .logo-mb-row {
    width: 90%;
    margin: auto;
  }

  .login-logomb {
    display: block;
    width: 40px;
    margin-right: 15px;
  }

  .login-form {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 100%;
  } */

  /* My Account */
  .my-account {
    margin: auto;
    width: 100%;
  }

  .my-header {
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-family: "RobotoCondensed-Bold";
    font-size: 13pt;
  }

  .line {
    border-top: 1px solid lightgray;
    padding-bottom: 20px;
  }

  .p-text {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  .space {
    height: 10px;
  }
  .my-account-btn {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  /* About Us */
  .about-us {
    text-align: justify;
    padding-left: 20px;
  }

  .wrap-content {
    display: none;
  }
  .dentist-img {
    min-width: 100%;
  }

  /*About Us Network*/
  .network {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network2 {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network3 {
    width: 50px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  /*Our Services*/
  .services-icon {
    width: 50%;
  }

  /* Testimonials */
  Carousel {
    width: 100%;
  }
  /* Contact */
  .contact-body {
    display: none;
  }

  #contact-form {
    margin-bottom: 20px;
  }

  /* Promotion Buttons */
  .promo-button {
    font-size: 10pt;
  }

  /* Loyalty */
  .loyalty-content {
    padding: 10px 10px 0px 20px;
  }
  .loyaltyBtn {
    padding: 10px 10px 0px 20px;
  }

  /* Appointments */

  /* User Registration */
  #reg-form {
    width: 100%;
  }

  /* Map Container */
  /* .map-container {} */

  /*Footer*/
  .section-footer {
    margin-top: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-address {
    font-size: 12pt;
  }

  .footer-content {
    min-width: 250px;
  }

  .fab {
    zoom: 2;
    margin-left: 2px;
  }
  .social-icons {
    min-width: 250px;
  }
}
/* End of @media only screen and (max-width: 320px) */

/* Start @media only screen and (min-width: 321px) */
@media (min-width: 321px) and (max-width: 374px) {
  /*-------------- Prevent Horizontal swipe ------------*/
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .p,
  .p-white {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  .p-services {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
    text-align: center;
  }

  .h2 {
    font-size: 13pt;
    text-align: center;
  }
  .h2-white {
    text-align: center;
    font-size: 13pt;
  }
  .h6 {
    font-size: 15pt;
  }

  .h6-white {
    font-size: 15pt;
  }

  .li,
  .label,
  .label-white {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  .style-hr {
    min-width: 50%;
  }

  /*------------ Background Images -------------*/
  /* Header */
  header {
    width: 100%;
    min-height: 30vh;
    background: url("./components/img/dental-studiox480.jpg");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-loyalty {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
  }

  .section-about {
    background: url("./components/img/dentist-bgx480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-promo {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-footer {
    margin-top: 380px;
    padding-top: 70px;
    background: url("./components/img/dentist-bgx480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #04091e;
    color: #fff;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
  }

  /*Navbar */
  .navbrand {
    width: 55%;
    float: right;
  }

  .call-today-sm {
    display: block;
    margin-right: 5px;
    color: #ce8bc8;
    /* padding: 5px;  */
  }
  .call-today-sm:hover {
    color: rgb(196, 196, 12);
  }

  .logo {
    margin-left: -90px;
  }

  .logo-text {
    display: none;
  }

  .call-today {
    display: none;
  }
  /*Side buttons*/
  .appoint {
    top: 7%;
    width: 120px;
  }
  .sidebtn {
    display: inline-block;
    margin-left: -15px;
    text-align: right;
    width: 70px;
    height: 45px;
    /* font-size: 8px;
    font-family: "Roboto Condensed"; */
    font-size: 8pt;
    font-family: "PT Sans Narrow";
    box-shadow: 0 6px 4px -3px #000000;
    position: relative;
  }

  /* Popup Modal */
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    width: 200px;
    /* margin: auto; */
    background: gray;
    border-radius: 4px;
  }

  /* Login */
  .login-container {
    margin-top: 10%;
  }
  #login-form {
    width: 90%;
  }
  .login-logo {
    width: 90%;
  }

  /* User Registration */
  .signup-container {
    margin-top: 10%;
  }

  /* .login-logo {
    display: none;
  }

  .logo-mb-row {
    width: 90%;
    margin: auto;
  }

  .login-logomb {
    display: block;
    width: 40px;
    margin-right: 15px;
  }

  .login-form {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 100%;
  } */

  /* My Account */
  .my-account {
    margin: auto;
    width: 100%;
  }

  .my-header {
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-family: "RobotoCondensed-Bold";
    font-size: 13pt;
  }

  .line {
    border-top: 1px solid lightgray;
    padding-bottom: 20px;
  }

  .p-text {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  .space {
    height: 10px;
  }
  .my-account-btn {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  /* About Us */
  .about-us {
    text-align: justify;
    padding-left: 20px;
  }

  .wrap-content {
    display: none;
  }
  .dentist-img {
    min-width: 100%;
  }

  /*About Us Network*/
  .network {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network2 {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network3 {
    width: 50px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  /*Our Services*/
  .services-icon {
    width: 50%;
  }

  /* Testimonials */
  Carousel {
    width: 100%;
  }
  /* Contact */
  .contact-body {
    display: none;
  }

  #contact-form {
    margin-bottom: 20px;
  }

  /* Promotion Buttons */
  .promo-button {
    font-size: 10pt;
  }

  /* Loyalty */
  .loyalty-content {
    padding: 10px 10px 0px 20px;
  }
  .loyaltyBtn {
    padding: 10px 10px 0px 20px;
  }

  /* Appointments */

  /* User Registration */
  #reg-form {
    width: 100%;
  }

  /* Map Container */
  /* .map-container {} */

  /*Footer*/
  .section-footer {
    margin-top: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-address {
    font-size: 12pt;
  }

  .footer-content {
    min-width: 250px;
  }

  .fab {
    zoom: 3;
    margin-left: 2px;
  }
  .social-icons {
    min-width: 250px;
  }
}
/* End of @media only screen and (min-width: 321px) */

/* Start @media only screen and (min-width: 375px) */
@media (min-width: 375px) and (max-width: 413px) {
  /*-------------- Prevent Horizontal swipe ------------*/
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .p,
  .p-white {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  .p-services {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
    text-align: center;
  }

  .h2 {
    font-size: 13pt;
    text-align: center;
  }
  .h2-white {
    text-align: center;
    font-size: 13pt;
  }
  .h6 {
    font-size: 15pt;
  }

  .h6-white {
    font-size: 15pt;
  }

  .li,
  .label,
  .label-white {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  .style-hr {
    min-width: 50%;
  }

  /*------------ Background Images -------------*/
  /* Header */
  header {
    width: 100%;
    min-height: 30vh;
    background: url("./components/img/dental-studiox480.jpg");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-loyalty {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
  }

  .section-about {
    background: url("./components/img/dentist-bgx480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-promo {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-footer {
    margin-top: 380px;
    padding-top: 70px;
    background: url("./components/img/dentist-bgx480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #04091e;
    color: #fff;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
  }

  /*Navbar */
  .navbrand {
    width: 55%;
    float: right;
  }

  .call-today-sm {
    display: block;
    margin-right: 5px;
    color: #ce8bc8;
    /* padding: 5px;  */
  }
  .call-today-sm:hover {
    color: rgb(196, 196, 12);
  }

  .logo {
    margin-left: -90px;
  }

  .logo-text {
    display: none;
  }

  .call-today {
    display: none;
  }
  /*Side buttons*/
  .appoint {
    top: 7%;
    width: 120px;
  }
  .sidebtn {
    display: inline-block;
    margin-left: -15px;
    text-align: right;
    width: 70px;
    height: 45px;
    /* font-size: 8px;
    font-family: "Roboto Condensed"; */
    font-size: 8pt;
    font-family: "PT Sans Narrow";
    box-shadow: 0 6px 4px -3px #000000;
    position: relative;
  }

  /* Popup Modal */
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    width: 200px;
    /* margin: auto; */
    background: gray;
    border-radius: 4px;
  }

  /* Login */
  .login-container {
    margin-top: 10%;
  }
  #login-form {
    width: 90%;
  }
  .login-logo {
    width: 90%;
  }

  /* User Registration */
  .signup-container {
    margin-top: 10%;
  }

  /* .login-logo {
    display: none;
  }

  .logo-mb-row {
    width: 90%;
    margin: auto;
  }

  .login-logomb {
    display: block;
    width: 40px;
    margin-right: 15px;
  }

  .login-form {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 100%;
  } */

  /* My Account */
  .my-account {
    margin: auto;
    width: 100%;
  }

  .my-header {
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-family: "RobotoCondensed-Bold";
    font-size: 13pt;
  }

  .line {
    border-top: 1px solid lightgray;
    padding-bottom: 20px;
  }

  .p-text {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  .space {
    height: 10px;
  }
  .my-account-btn {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  /* About Us */
  .about-us {
    text-align: justify;
    padding-left: 20px;
  }

  .wrap-content {
    display: none;
  }
  .dentist-img {
    min-width: 100%;
  }

  /*About Us Network*/
  .network {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network2 {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network3 {
    width: 50px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  /*Our Services*/
  .services-icon {
    width: 50%;
  }

  /* Testimonials */
  Carousel {
    width: 100%;
  }
  /* Contact */
  .contact-body {
    display: none;
  }

  #contact-form {
    margin-bottom: 20px;
  }

  /* Promotion Buttons */
  .promo-button {
    font-size: 10pt;
  }

  /* Loyalty */
  .loyalty-content {
    padding: 10px 10px 0px 20px;
  }
  .loyaltyBtn {
    padding: 10px 10px 0px 20px;
  }

  /* Appointments */

  /* User Registration */
  #reg-form {
    width: 100%;
  }

  /* Map Container */
  /* .map-container {} */

  /*Footer*/
  .section-footer {
    margin-top: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-address {
    font-size: 12pt;
  }

  .footer-content {
    min-width: 250px;
  }

  .fab {
    zoom: 3;
    margin-left: 5px;
  }
  .social-icons {
    min-width: 250px;
  }
}
/* End of @media only screen and (max-width: 375px) */

@media (min-width: 414px) and (max-width: 767px) {
  /*-------------- Prevent Horizontal swipe ------------*/
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .p,
  .p-white {
    font-size: 13pt;
    font-family: "PT Sans Narrow";
  }

  .p-services {
    font-size: 13pt;
    font-family: "PT Sans Narrow";
    text-align: center;
  }

  .h2 {
    font-size: 15pt;
    text-align: center;
  }
  .h2-white {
    text-align: center;
    font-size: 15pt;
  }
  .h6 {
    font-size: 15pt;
  }

  .h6-white {
    font-size: 15pt;
  }

  .li,
  .label,
  .label-white {
    font-size: 13pt;
    font-family: "PT Sans Narrow";
  }

  .style-hr {
    min-width: 50%;
  }

  /*------------ Background Images -------------*/
  /* Header */
  header {
    width: 100%;
    min-height: 30vh;
    background: url("./components/img/dental-studiox480.jpg");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-loyalty {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
  }

  .section-about {
    background: url("./components/img/dentist-bgx480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-promo {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-footer {
    margin-top: 380px;
    padding-top: 70px;
    background: url("./components/img/dentist-bgx480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #04091e;
    color: #fff;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
  }

  /*Navbar */
  .navbrand {
    width: 60%;
    float: right;
  }

  .call-today-sm {
    display: block;
    margin-right: 5px;
    color: #ce8bc8;
    /* padding: 5px;  */
  }
  .call-today-sm:hover {
    color: rgb(196, 196, 12);
  }

  .logo {
    margin-left: -90px;
  }

  .logo-text {
    display: none;
  }

  .call-today {
    display: none;
  }
  /*Side buttons*/
  .appoint {
    top: 7%;
    width: 120px;
  }
  .sidebtn {
    display: inline-block;
    margin-left: -15px;
    text-align: right;
    width: 70px;
    height: 45px;
    /* font-size: 8px;
    font-family: "Roboto Condensed"; */
    font-size: 8pt;
    font-family: "PT Sans Narrow";
    box-shadow: 0 6px 4px -3px #000000;
    position: relative;
  }

  /* Popup Modal */
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    width: 200px;
    /* margin: auto; */
    background: gray;
    border-radius: 4px;
  }

  /* Login */
  .login-container {
    margin-top: 10%;
  }
  #login-form {
    width: 90%;
  }
  .login-logo {
    width: 90%;
  }

  /* User Registration */
  .signup-container {
    margin-top: 10%;
  }

  /* .login-logo {
    display: none;
  }

  .logo-mb-row {
    width: 90%;
    margin: auto;
  }

  .login-logomb {
    display: block;
    width: 40px;
    margin-right: 15px;
  }

  .login-form {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 100%;
  } */

  /* My Account */
  .my-account {
    margin: auto;
    width: 100%;
  }

  .my-header {
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-family: "RobotoCondensed-Bold";
    font-size: 13pt;
  }

  .line {
    border-top: 1px solid lightgray;
    padding-bottom: 20px;
  }

  .p-text {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  .space {
    height: 10px;
  }
  .my-account-btn {
    font-size: 12pt;
    font-family: "PT Sans Narrow";
  }

  /* About Us */
  .about-us {
    text-align: justify;
    padding-left: 20px;
  }

  .wrap-content {
    display: none;
  }
  .dentist-img {
    min-width: 100%;
  }

  /*About Us Network*/
  .network {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network2 {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network3 {
    width: 50px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  /*Our Services*/
  .services-icon {
    width: 50%;
  }

  /* Testimonials */
  Carousel {
    width: 100%;
  }
  /* Contact */
  .contact-body {
    display: none;
  }

  #contact-form {
    margin-bottom: 20px;
  }

  /* Promotion Buttons */
  .promo-button {
    font-size: 10pt;
  }

  /* Loyalty */
  .loyalty-content {
    padding: 10px 10px 0px 20px;
  }
  .loyaltyBtn {
    padding: 10px 10px 0px 20px;
  }

  /* Appointments */

  /* User Registration */
  #reg-form {
    width: 100%;
  }

  /* Map Container */
  /* .map-container {} */

  /*Footer*/
  .section-footer {
    margin-top: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-address {
    font-size: 12pt;
  }

  .footer-content {
    min-width: 250px;
  }

  .fab {
    zoom: 3;
    margin-left: 5px;
  }
  .social-icons {
    min-width: 250px;
  }
}
/* End of @media only screen and (max-width: 414px) */

@media (min-width: 768px) and (max-width: 1023px) {
  /*-------------- Prevent Horizontal swipe ------------*/
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .p,
  .p-white {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .p-services {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    text-align: center;
  }

  .h2 {
    font-size: 18pt;
    text-align: center;
  }
  .h2-white {
    text-align: center;
    font-size: 18pt;
  }
  .h6 {
    font-size: 15pt;
  }

  .h6-white {
    font-size: 15pt;
  }

  .li,
  .label,
  .label-white {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .style-hr {
    min-width: 50%;
  }

  /*------------ Background Images -------------*/
  /* Header */
  header {
    width: 100%;
    min-height: 35vh;
    background: url("./components/img/dental-studiox480.jpg");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-loyalty {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
  }

  .section-about {
    background: url("./components/img/dentist-bgx480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-promo {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-footer {
    margin-top: 380px;
    padding-top: 70px;
    background: url("./components/img/dentist-bgx480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #04091e;
    color: #fff;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
  }

  /*Navbar */
  .navbrand {
    width: 80%;
    float: right;
  }

  .call-today-sm {
    display: block;
    margin-right: 5px;
    color: #ce8bc8;
    /* padding: 5px;  */
  }
  .call-today-sm:hover {
    color: rgb(196, 196, 12);
  }

  .logo {
    margin-left: -90px;
  }

  .logo-text {
    display: none;
  }

  .call-today {
    display: none;
  }
  /*Side buttons*/
  .appoint {
    top: 7%;
    width: 120px;
  }
  .sidebtn {
    display: inline-block;
    margin-left: -15px;
    text-align: right;
    width: 120px;
    height: 75px;
    /* font-size: 8px;
    font-family: "Roboto Condensed"; */
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    box-shadow: 0 6px 4px -3px #000000;
    position: relative;
  }

  /* Login */
  .login-container {
    margin-top: 10%;
  }
  #login-form {
    width: 90%;
  }
  .login-logo {
    width: 90%;
  }

  /* User Registration */
  .signup-container {
    margin-top: 10%;
  }

  /* My Account */
  .my-account {
    margin: auto;
    min-width: 100%;
  }

  .my-header {
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-family: "RobotoCondensed-Bold";
    font-size: 15pt;
  }

  .line {
    border-top: 1px solid lightgray;
    padding-bottom: 20px;
  }

  .p-text {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .space {
    height: 10px;
  }
  .my-account-btn {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .my-account-box {
    min-width: 100%;
  }

  /* About Us */
  .bsz-content {
    display: none;
  }
  .about-us {
    /* text-align: justify; */
    padding-left: 20px;
  }

  .dentist-img {
    width: 100%;
  }
  .wrap-content {
    display: block;
    background-color: black;
  }
  .wrap-paragraph {
    text-align: justify;
    padding-left: 40px;
  }

  /*About Us Network*/
  .network {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network2 {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network3 {
    width: 50px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  /*Our Services*/
  .services-icon {
    width: 50%;
  }

  /* Testimonials */
  Carousel {
    width: 100%;
  }
  /* Contact */
  .contact-body {
    display: none;
  }

  #contact-form {
    margin-bottom: 20px;
  }

  /* Promotion Buttons */
  .promo-button {
    font-size: 10pt;
  }

  /* Loyalty */
  .loyalty-content {
    padding: 10px 10px 0px 20px;
  }
  .loyaltyBtn {
    padding: 10px 10px 0px 20px;
  }

  /* Appointments */

  /* User Registration */
  #reg-form {
    width: 100%;
  }

  /* Map Container */
  /* .map-container {} */

  /*Footer*/
  .section-footer {
    margin-top: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-address {
    font-size: 12pt;
  }

  .footer-content {
    min-width: 250px;
  }

  .fab {
    zoom: 3;
    margin-left: 5px;
  }

  .social-icons {
    min-width: 250px;
  }
}
/* End of @media only screen and (max-width: 768px) */

@media (min-width: 1024px) and (max-width: 1359px) {
  /*-------------- Prevent Horizontal swipe ------------*/
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .p,
  .p-white {
    font-size: 25pt;
    font-family: "PT Sans Narrow";
  }

  .p-services {
    font-size: 25pt;
    font-family: "PT Sans Narrow";
    text-align: center;
  }

  .h2 {
    font-size: 30pt;
    text-align: center;
  }
  .h2-white {
    text-align: center;
    font-size: 30pt;
  }
  .h6 {
    font-size: 27pt;
  }

  .h6-white {
    font-size: 25pt;
  }

  .li,
  .label,
  .label-white {
    font-size: 25pt;
    font-family: "PT Sans Narrow";
  }

  .style-hr {
    min-width: 50%;
  }

  /*------------ Background Images -------------*/
  /* Header */
  header {
    width: 100%;
    min-height: 40vh;
    background: url("./components/img/dental-studiox1024.jpg");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-loyalty {
    background: url("./components/img/loyalty/smilex1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
  }

  .section-about {
    background: url("./components/img/dentist-bgx1024.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-promo {
    background: url("./components/img/loyalty/smilex1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-footer {
    margin-top: 380px;
    padding-top: 70px;
    background: url("./components/img/dentist-bgx1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #04091e;
    color: #fff;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
  }

  /*Navbar */
  .navbrand {
    width: 80%;
    float: right;
  }

  .call-today-sm {
    display: block;
    margin-right: 5px;
    color: #ce8bc8;
    /* padding: 5px;  */
  }
  .call-today-sm:hover {
    color: rgb(196, 196, 12);
  }

  .logo {
    margin-left: -90px;
  }

  .logo-text {
    display: none;
  }

  .call-today {
    display: none;
  }
  /*Side buttons*/
  .appoint {
    top: 7%;
    width: 120px;
  }
  .sidebtn {
    display: inline-block;
    margin-left: -15px;
    text-align: right;
    width: 120px;
    height: 75px;
    /* font-size: 8px;
    font-family: "Roboto Condensed"; */
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    box-shadow: 0 6px 4px -3px #000000;
    position: relative;
  }

  /* Login */
  .login-container {
    margin-top: 10%;
  }
  #login-form {
    width: 90%;
  }
  .login-logo {
    width: 90%;
  }

  /* User Registration */
  .signup-container {
    margin-top: 10%;
  }

  /* My Account */
  .my-account {
    margin: auto;
    min-width: 100%;
  }

  .my-header {
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-family: "RobotoCondensed-Bold";
    font-size: 15pt;
  }

  .line {
    border-top: 1px solid lightgray;
    padding-bottom: 20px;
  }

  .p-text {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .space {
    height: 10px;
  }
  .my-account-btn {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .my-account-box {
    min-width: 100%;
  }

  /* About Us */
  .bsz-content {
    display: none;
  }
  .about-us {
    /* text-align: justify; */
    padding-left: 20px;
  }

  .dentist-img {
    width: 100%;
  }
  .wrap-content {
    display: block;
    background-color: black;
  }
  .wrap-paragraph {
    text-align: justify;
    padding-left: 40px;
  }

  /*About Us Network*/
  .network {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network2 {
    width: 60px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network3 {
    width: 100px;
    height: 35px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  /*Our Services*/
  .services-icon {
    width: 50%;
  }

  /* Testimonials */
  Carousel {
    width: 100%;
  }
  /* Contact */
  .contact-body {
    display: none;
  }

  #contact-form {
    margin-bottom: 20px;
  }

  /* Promotion Buttons */
  .promo-button {
    font-size: 10pt;
  }

  /* Loyalty */
  .loyalty-content {
    padding: 10px 10px 0px 20px;
  }
  .loyaltyBtn {
    padding: 10px 10px 0px 20px;
  }

  /* Appointments */

  /* User Registration */
  #reg-form {
    width: 100%;
  }

  .form-control {
    height: 2em;
  }

  /* Map Container */
  .map-container {
    width: 100%;
  }

  /*Footer*/
  .section-footer {
    margin-top: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-address {
    font-size: 25pt;
  }

  .footer-content {
    min-width: 400px;
  }

  .fab {
    zoom: 3;
    margin-left: 10px;
  }
  .social-icons {
    min-width: 250px;
  }
}
/* End of @media only screen and (max-width: 768px) */

@media (min-width: 1360px) and (max-width: 1439px) {
  /*-------------- Prevent Horizontal swipe ------------*/
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .p,
  .p-white {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .p-services {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    text-align: center;
  }

  .h2 {
    font-size: 25pt;
    text-align: center;
  }
  .h2-white {
    text-align: center;
    font-size: 25pt;
  }
  .h6 {
    font-size: 22pt;
  }

  .h6-white {
    font-size: 22pt;
  }

  .li,
  .label,
  .label-white {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .style-hr {
    min-width: 50%;
  }

  /*------------ Background Images -------------*/
  /* Header */
  header {
    width: 100%;
    min-height: 100vh;
    background: url("./components/img/dental-studiox1824.jpg");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-loyalty {
    background: url("./components/img/loyalty/smilex1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
  }

  .section-about {
    background: url("./components/img/dentist-bgx1824.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-promo {
    background: url("./components/img/loyalty/smilex1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-footer {
    margin-top: 380px;
    padding-top: 70px;
    background: url("./components/img/dentist-bgx1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #04091e;
    color: #fff;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
  }

  /*Navbar */
  .navbrand {
    width: 70%;
    float: right;
  }

  .call-today-sm {
    display: none;
    margin-right: 5px;
    color: #ce8bc8;
    /* padding: 5px;  */
  }
  .call-today-sm:hover {
    color: rgb(196, 196, 12);
  }

  .logo {
    margin-left: -90px;
  }

  .logo-text {
    display: none;
  }

  .call-today {
    display: block;
  }
  /*Side buttons*/
  .appoint {
    top: 7%;
    width: 120px;
  }
  .sidebtn {
    display: inline-block;
    margin-left: -15px;
    text-align: right;
    width: 120px;
    height: 75px;
    /* font-size: 8px;
    font-family: "Roboto Condensed"; */
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    box-shadow: 0 6px 4px -3px #000000;
    position: relative;
  }

  /* Login */
  .login-container {
    margin-top: 1%;
  }
  #login-form {
    width: 40%;
    margin-bottom: 4%;
  }
  .login-logo {
    width: 50%;
  }

  /* User Registration */
  .signup-container {
    margin-top: 1%;
    max-width: 50%;
  }

  /* My Account */
  .my-account {
    margin: auto;
    min-width: 100%;
  }

  .my-header {
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-family: "RobotoCondensed-Bold";
    font-size: 15pt;
  }

  .line {
    border-top: 1px solid lightgray;
    padding-bottom: 20px;
  }

  .p-text {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .space {
    height: 10px;
  }
  .my-account-btn {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .my-account-box {
    min-width: 50%;
  }

  /* About Us */
  /* .section-about {
    display: inline-block;
  }
  .dentist-img {
    float: left;
    width: 21%;
    padding-right: 15px;
  }

  .wrap-paragraph {
    background-color: black;
    float: none;
    padding-right: 15px;
    text-align: left;
  } */

  /* About Us */
  .bsz-content {
    display: none;
  }
  .about-us {
    text-align: left;
    padding-left: 20px;
  }

  .dentist-img {
    padding-top: 18px;
    width: 325px;
    float: left;
  }
  .wrap-content {
    display: block;
    background-color: black;
  }
  .wrap-paragraph {
    text-align: justify;
    padding-left: 25%;
  }

  /*About Us Network*/
  .network {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network2 {
    width: 60px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network3 {
    width: 100px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  /*Our Services*/
  .services-icon {
    width: 30%;
  }

  /* Testimonials */
  Carousel {
    width: 100%;
  }
  /* Contact */
  .contact-body {
    display: none;
  }

  #contact-form {
    margin-bottom: 20px;
  }

  /* Promotion Buttons */
  .promo-button {
    font-size: 15pt;
  }

  /* Loyalty */
  .loyalty-content {
    padding: 10px 10px 0px 20px;
    margin-right: 30%;
  }
  .loyaltyBtn {
    padding: 10px 10px 0px 20px;
  }

  /* Appointments */

  /* User Registration */
  #reg-form {
    width: 100%;
  }

  .form-control {
    height: 2em;
  }

  /* Map Container */
  .map-container {
    width: 100%;
  }

  /*Footer*/
  .section-footer {
    margin-top: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-address {
    font-size: 15pt;
  }

  .footer-content {
    min-width: 400px;
  }

  .fab {
    zoom: 3;
  }
  .social-icons {
    min-width: 250px;
  }
}
/* End of @media only screen and (max-width: 768px) */

@media (min-width: 1439.5px) {
  /*-------------- Prevent Horizontal swipe ------------*/
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .p,
  .p-white {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .p-services {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    text-align: center;
  }

  .h2 {
    font-size: 25pt;
    text-align: center;
  }
  .h2-white {
    text-align: center;
    font-size: 25pt;
  }
  .h6 {
    font-size: 22pt;
  }

  .h6-white {
    font-size: 22pt;
  }

  .li,
  .label,
  .label-white {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .style-hr {
    min-width: 50%;
  }

  /*------------ Background Images -------------*/
  /* Header */
  header {
    width: 100%;
    min-height: 90vh;
    background: url("./components/img/dental-studiox1824.jpg");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-loyalty {
    background: url("./components/img/loyalty/smilex1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
  }

  .section-about {
    background: url("./components/img/dentist-bgx1824.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-promo {
    background: url("./components/img/loyalty/smilex1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-footer {
    margin-top: 380px;
    padding-top: 70px;
    background: url("./components/img/dentist-bgx1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #04091e;
    color: #fff;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
  }

  /*Navbar */
  .navbrand {
    width: 70%;
    float: right;
  }

  .call-today-sm {
    display: none;
    margin-right: 5px;
    color: #ce8bc8;
    /* padding: 5px;  */
  }
  .call-today-sm:hover {
    color: rgb(196, 196, 12);
  }

  .logo {
    margin-left: -90px;
  }

  .logo-text {
    display: none;
  }

  .call-today {
    display: block;
  }
  /*Side buttons*/
  .appoint {
    top: 18%;
    width: 120px;
  }
  .sidebtn {
    display: inline-block;
    margin-left: -15px;
    text-align: right;
    width: 120px;
    height: 75px;
    /* font-size: 8px;
    font-family: "Roboto Condensed"; */
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    box-shadow: 0 6px 4px -3px #000000;
    position: relative;
  }

  /* Login */
  .login-container {
    margin-top: 1%;
  }
  #login-form {
    width: 40%;
    margin-bottom: 6%;
  }
  .login-logo {
    width: 70%;
  }

  /* User Registration */
  .signup-container {
    margin-top: 1%;
    max-width: 50%;
  }

  /* My Account */
  .my-account {
    margin: auto;
    min-width: 100%;
  }

  .my-header {
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-family: "RobotoCondensed-Bold";
    font-size: 15pt;
  }

  .line {
    border-top: 1px solid lightgray;
    padding-bottom: 20px;
  }

  .p-text {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    line-height: 1.5rem;
  }

  .space {
    height: 10px;
  }
  .my-account-btn {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .my-account-box {
    min-width: 50%;
  }

  /* About Us */
  /* .section-about {
    display: inline-block;
  }
  .dentist-img {
    float: left;
    width: 21%;
    padding-right: 15px;
  }

  .wrap-paragraph {
    background-color: black;
    float: none;
    padding-right: 15px;
    text-align: left;
  } */

  /* About Us */
  .bsz-content {
    display: none;
  }
  .about-us {
    text-align: left;
    padding-left: 20px;
  }

  .dentist-img {
    padding-top: 18px;
    width: 300px;
    float: left;
  }
  .wrap-content {
    display: inline-block;
    background-color: black;
    margin: 0px 0px 20px 0px;
  }
  .wrap-paragraph {
    text-align: justify;
    padding-left: 22%;
  }

  /*About Us Network*/
  .network {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network2 {
    width: 60px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network3 {
    width: 100px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  /*Our Services*/
  #id-services {
    margin-bottom: 20px;
  }

  .p-services {
    margin-bottom: 15px;
  }

  .services-icon {
    width: 30%;
  }

  /*Loyalty Program */
  .loyaltyBtn {
    margin-bottom: 40px;
  }

  /* Testimonials */
  Carousel {
    width: 100%;
  }
  /* Contact */
  .contact-body {
    display: none;
  }

  #contact-form {
    margin-bottom: 20px;
  }

  /* Promotion Buttons */
  .promo-button {
    font-size: 15pt;
  }

  /* Loyalty */
  .loyalty-content {
    padding: 10px 10px 0px 20px;
    margin-right: 30%;
  }
  .loyaltyBtn {
    padding: 10px 10px 0px 20px;
  }

  /* Appointments */

  /* User Registration */
  #reg-form {
    width: 100%;
  }

  .form-control {
    height: 2em;
  }

  /* Map Container */
  .map-container {
    width: 100%;
  }

  /*Footer*/
  .section-footer {
    margin-top: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-address {
    font-size: 15pt;
  }

  .footer-content {
    min-width: 400px;
  }

  .fab {
    zoom: 3;
    padding-left: 5px;
  }
  .social-icons {
    min-width: 250px;
  }
}
/* End of @media only screen and (max-width: 768px) */

@media (width: 667px) {
  /*-------------- Prevent Horizontal swipe ------------*/
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .p,
  .p-white {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .p-services {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    text-align: center;
  }

  .h2 {
    font-size: 18pt;
    text-align: center;
  }
  .h2-white {
    text-align: center;
    font-size: 18pt;
  }
  .h6 {
    font-size: 15pt;
  }

  .h6-white {
    font-size: 15pt;
  }

  .li,
  .label,
  .label-white {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .style-hr {
    min-width: 50%;
  }

  /*------------ Background Images -------------*/
  /* Header */
  header {
    width: 100%;
    min-height: 85vh;
    background: url("./components/img/dental-studiox768.jpg");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-loyalty {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
  }

  .section-about {
    background: url("./components/img/dentist-bgx480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-promo {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-footer {
    margin-top: 380px;
    padding-top: 70px;
    background: url("./components/img/dentist-bgx480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #04091e;
    color: #fff;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
  }

  /*Navbar */
  .navbrand {
    width: 60%;
    float: right;
  }

  .call-today-sm {
    display: block;
    margin-right: 5px;
    color: #ce8bc8;
    /* padding: 5px;  */
  }
  .call-today-sm:hover {
    color: rgb(196, 196, 12);
  }

  .logo {
    margin-left: -90px;
  }

  .logo-text {
    display: none;
  }

  .call-today {
    display: none;
  }
  /*Side buttons*/
  .appoint {
    top: 7%;
    width: 120px;
  }
  .sidebtn {
    display: inline-block;
    margin-left: -15px;
    text-align: right;
    width: 120px;
    height: 75px;
    /* font-size: 8px;
    font-family: "Roboto Condensed"; */
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    box-shadow: 0 6px 4px -3px #000000;
    position: relative;
  }

  /* Login */
  .login-container {
    margin-top: 0%;
  }
  #login-form {
    width: 70%;
  }
  .login-logo {
    width: 70%;
  }

  /* User Registration */
  .signup-container {
    margin-top: 0%;
    width: 50%;
  }

  /* My Account */
  .my-account {
    margin: auto;
    min-width: 100%;
  }

  .my-header {
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-family: "RobotoCondensed-Bold";
    font-size: 15pt;
  }

  .line {
    border-top: 1px solid lightgray;
    padding-bottom: 20px;
  }

  .p-text {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .space {
    height: 10px;
  }
  .my-account-btn {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .my-account-box {
    min-width: 100%;
  }

  /* About Us */
  .bsz-content {
    display: none;
  }
  .about-us {
    /* text-align: justify; */
    padding-left: 20px;
  }

  .dentist-img {
    width: 100%;
  }
  .wrap-content {
    display: block;
    background-color: black;
  }
  .wrap-paragraph {
    text-align: justify;
    padding-left: 40px;
  }

  /*About Us Network*/
  .network {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network2 {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network3 {
    width: 50px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  /*Our Services*/
  .services-icon {
    width: 50%;
  }

  /* Testimonials */
  Carousel {
    width: 100%;
  }
  /* Contact */
  .contact-body {
    display: none;
  }

  #contact-form {
    margin-bottom: 20px;
  }

  /* Promotion Buttons */
  .promo-button {
    font-size: 10pt;
  }

  /* Loyalty */
  .loyalty-content {
    padding: 10px 10px 0px 20px;
  }
  .loyaltyBtn {
    padding: 10px 10px 0px 20px;
  }

  /* Appointments */

  /* User Registration */
  #reg-form {
    width: 100%;
  }

  /* Map Container */
  /* .map-container {} */

  /*Footer*/
  .section-footer {
    margin-top: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-address {
    font-size: 12pt;
  }

  .footer-content {
    min-width: 250px;
  }

  .fab {
    zoom: 3;
    margin-left: 5px;
  }

  .social-icons {
    min-width: 250px;
  }
}
/* End of @media only screen and (max-width: 768px) */

@media (width: 736px) {
  /*-------------- Prevent Horizontal swipe ------------*/
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .p,
  .p-white {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .p-services {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    text-align: center;
  }

  .h2 {
    font-size: 18pt;
    text-align: center;
  }
  .h2-white {
    text-align: center;
    font-size: 18pt;
  }
  .h6 {
    font-size: 15pt;
  }

  .h6-white {
    font-size: 15pt;
  }

  .li,
  .label,
  .label-white {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .style-hr {
    min-width: 50%;
  }

  /*------------ Background Images -------------*/
  /* Header */
  header {
    width: 100%;
    min-height: 85vh;
    background: url("./components/img/dental-studiox768.jpg");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-loyalty {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
  }

  .section-about {
    background: url("./components/img/dentist-bgx480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-promo {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-footer {
    margin-top: 380px;
    padding-top: 70px;
    background: url("./components/img/dentist-bgx480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #04091e;
    color: #fff;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
  }

  /*Navbar */
  .navbrand {
    width: 80%;
    float: right;
  }

  .call-today-sm {
    display: block;
    margin-right: 5px;
    color: #ce8bc8;
    /* padding: 5px;  */
  }
  .call-today-sm:hover {
    color: rgb(196, 196, 12);
  }

  .logo {
    margin-left: -90px;
  }

  .logo-text {
    display: none;
  }

  .call-today {
    display: none;
  }
  /*Side buttons*/
  .appoint {
    top: 7%;
    width: 120px;
  }
  .sidebtn {
    display: inline-block;
    margin-left: -15px;
    text-align: right;
    width: 120px;
    height: 75px;
    /* font-size: 8px;
    font-family: "Roboto Condensed"; */
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    box-shadow: 0 6px 4px -3px #000000;
    position: relative;
  }

  /* Login */
  .login-container {
    margin-top: 0%;
  }
  #login-form {
    width: 70%;
  }
  .login-logo {
    width: 70%;
  }

  /* User Registration */
  .signup-container {
    margin-top: 0%;
    width: 50%;
  }

  /* My Account */
  .my-account {
    margin: auto;
    min-width: 100%;
  }

  .my-header {
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-family: "RobotoCondensed-Bold";
    font-size: 15pt;
  }

  .line {
    border-top: 1px solid lightgray;
    padding-bottom: 20px;
  }

  .p-text {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .space {
    height: 10px;
  }
  .my-account-btn {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .my-account-box {
    min-width: 100%;
  }

  /* About Us */
  .bsz-content {
    display: none;
  }
  .about-us {
    /* text-align: justify; */
    padding-left: 20px;
  }

  .dentist-img {
    width: 100%;
  }
  .wrap-content {
    display: block;
    background-color: black;
  }
  .wrap-paragraph {
    text-align: justify;
    padding-left: 40px;
  }

  /*About Us Network*/
  .network {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network2 {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network3 {
    width: 50px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  /*Our Services*/
  .services-icon {
    width: 50%;
  }

  /* Testimonials */
  Carousel {
    width: 100%;
  }
  /* Contact */
  .contact-body {
    display: none;
  }

  #contact-form {
    margin-bottom: 20px;
  }

  /* Promotion Buttons */
  .promo-button {
    font-size: 10pt;
  }

  /* Loyalty */
  .loyalty-content {
    padding: 10px 10px 0px 20px;
  }
  .loyaltyBtn {
    padding: 10px 10px 0px 20px;
  }

  /* Appointments */

  /* User Registration */
  #reg-form {
    width: 100%;
  }

  /* Map Container */
  /* .map-container {} */

  /*Footer*/
  .section-footer {
    margin-top: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-address {
    font-size: 12pt;
  }

  .footer-content {
    min-width: 250px;
  }

  .fab {
    zoom: 3;
    margin-left: 5px;
  }

  .social-icons {
    min-width: 250px;
  }
}
/* End of @media only screen and (max-width: 768px) */

@media (width: 812px) {
  /*-------------- Prevent Horizontal swipe ------------*/
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .p,
  .p-white {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .p-services {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    text-align: center;
  }

  .h2 {
    font-size: 18pt;
    text-align: center;
  }
  .h2-white {
    text-align: center;
    font-size: 18pt;
  }
  .h6 {
    font-size: 15pt;
  }

  .h6-white {
    font-size: 15pt;
  }

  .li,
  .label,
  .label-white {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .style-hr {
    min-width: 50%;
  }

  /*------------ Background Images -------------*/
  /* Header */
  header {
    width: 100%;
    min-height: 100vh;
    background: url("./components/img/dental-studiox768.jpg");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .section-loyalty {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
  }

  .section-about {
    background: url("./components/img/dentist-bgx480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-promo {
    background: url("./components/img/loyalty/smilex480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid lightgray;
    position: relative;
  }

  .section-footer {
    margin-top: 380px;
    padding-top: 70px;
    background: url("./components/img/dentist-bgx480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #04091e;
    color: #fff;
    padding-bottom: 20px;
    border-top: 1px solid lightgray;
  }

  /*Navbar */
  .navbrand {
    width: 80%;
    float: right;
  }

  .call-today-sm {
    display: block;
    margin-right: 5px;
    color: #ce8bc8;
    /* padding: 5px;  */
  }
  .call-today-sm:hover {
    color: rgb(196, 196, 12);
  }

  .logo {
    margin-left: -90px;
  }

  .logo-text {
    display: none;
  }

  .call-today {
    display: none;
  }
  /*Side buttons*/
  .appoint {
    top: 7%;
    width: 120px;
  }
  .sidebtn {
    display: inline-block;
    margin-left: -15px;
    text-align: right;
    width: 120px;
    height: 75px;
    /* font-size: 8px;
    font-family: "Roboto Condensed"; */
    font-size: 15pt;
    font-family: "PT Sans Narrow";
    box-shadow: 0 6px 4px -3px #000000;
    position: relative;
  }

  /* Login */
  .login-container {
    margin-top: 0%;
  }
  #login-form {
    width: 50%;
  }
  .login-logo {
    width: 50%;
  }

  /* User Registration */
  .signup-container {
    margin-top: 0%;
    width: 50%;
  }

  /* My Account */
  .my-account {
    margin: auto;
    min-width: 100%;
  }

  .my-header {
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-family: "RobotoCondensed-Bold";
    font-size: 15pt;
  }

  .line {
    border-top: 1px solid lightgray;
    padding-bottom: 20px;
  }

  .p-text {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .space {
    height: 10px;
  }
  .my-account-btn {
    font-size: 15pt;
    font-family: "PT Sans Narrow";
  }

  .my-account-box {
    min-width: 100%;
  }

  /* About Us */
  .bsz-content {
    display: none;
  }
  .about-us {
    /* text-align: justify; */
    padding-left: 20px;
  }

  .dentist-img {
    width: 100%;
  }
  .wrap-content {
    display: block;
    background-color: black;
  }
  .wrap-paragraph {
    text-align: justify;
    padding-left: 40px;
  }

  /*About Us Network*/
  .network {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network2 {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .network3 {
    width: 50px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  /*Our Services*/
  .services-icon {
    width: 50%;
  }

  /* Testimonials */
  Carousel {
    width: 100%;
  }
  /* Contact */
  .contact-body {
    display: none;
  }

  #contact-form {
    margin-bottom: 20px;
  }

  /* Promotion Buttons */
  .promo-button {
    font-size: 10pt;
  }

  /* Loyalty */
  .loyalty-content {
    padding: 10px 10px 0px 20px;
  }
  .loyaltyBtn {
    padding: 10px 10px 0px 20px;
  }

  /* Appointments */

  /* User Registration */
  #reg-form {
    width: 100%;
  }

  /* Map Container */
  /* .map-container {} */

  /*Footer*/
  .section-footer {
    margin-top: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .footer-address {
    font-size: 12pt;
  }

  .footer-content {
    min-width: 250px;
  }

  .fab {
    zoom: 3;
    margin-left: 5px;
  }

  .social-icons {
    min-width: 250px;
  }
}
/* End of @media only screen and (max-width: 768px) */
