.p-white {
  padding: 21px;
  width: 95%;
}

.section-about {
  background: url("../img/dentist-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 1px solid lightgray;
  position: relative;
}

.network {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.network2 {
  width: 80px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.network3 {
  width: 130px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 20px;
}
